* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(226, 216, 224);
}

.container {
  width: 500px;
  height: 300px;
  margin: 20px auto;
  border: 1px solid green;
  background-color: azure;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form input {
  padding: 8px;
  width: 350px;
  margin: 15px auto;
  font-size: 16px;
}
::placeholder {
  font-size: 16px;
}

.btn {
  padding: 10px 16px;
  margin: 8px auto;
  width: 127px;
  border: none;
  outline: none;
  background-color: blueviolet;
  border-radius: 4px;
  font-weight: bold;
}
